<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ThemeColor" title="@Strings.ThemeColorTitle">
        <settingConfig type="list">
            <!-- Taken from NV ini settings, see https://www.reddit.com/r/Fallout/comments/40hpkr/comment/cyusw4w/ -->
            <listEntry value="0x1aff80">@Strings.ColorGreen</listEntry>
            <listEntry value="0xffb642">@Strings.ColorAmber</listEntry>
            <listEntry value="0x2ecfff">@Strings.ColorBlue</listEntry>
            <listEntry value="0xc0ffff">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
